/* styles/Login.css */
.login-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2vh;
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}
  
  .login-form label {
    font-weight: bold;
    font-size: 2vw;
  }
  
  .login-form input {
    padding: 1.5vh;
    border: 0.1vw solid #ccc;
    border-radius: 1vw;
    font-size: 1.5vw;
  }
  
  .login-form button {
    background-color: #007bff;
    color: #fff;
    padding: 2vh 4vh;
    border: none;
    border-radius: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Add more styling as needed */
  